%nav.navbar#site_navbar.navbar-inverse{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a#logo.navbar-brand{:href => '#'} Save Foie Gras
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-center#navbar_ul
        %li{ :class => ("active" if @nav_tab == "farms") }
          = link_to "Farms", root_path(nav_tab: "farms")
        %li{ :class => ("active" unless @nav_tab) }
          = link_to "Store", root_path
        %li{ :class => ("active" if @nav_tab == "info") }
          = link_to "Info", root_path(nav_tab: "info")
        - if session[:cart_token]
          %li{ :class => ("active" if @nav_tab == "shopping_cart") }
            = link_to "Shopping Cart", shopping_cart_items_path(nav_tab: "shopping_cart")
