

#background_geese { 
		background: image-url('geese.jpg') no-repeat;
		position: fixed;
		margin-top: -70px;
    height: 100%;
	}

#store_box {
  position: absolute;
  height: 50%;
  background: rgba(0, 0, 0, 0.2);
  top: 25%;
  left: 25%;
  border-radius: 5%;
  }

  #store { 
    #store_sidebar {
      position: absolute;
      bottom: 5%;
      float: left;
      height: 90%;
      background: rgba(0, 0, 0, 0.7);
      border-radius: 5%;
      text-decoration: none;
      color: white !important;

      #store_top {
        color: white;
        text-align: center;
        font-weight: 500;
      }
    }
    #t_shirt {
      position: relative;
      float: right;
      margin-top: 2.5%;
      bottom: 5%;
      background: rgba(0, 0, 0, 0.7);
      border-radius: 5%;
      margin-right: 10px;
      padding: 10px;
      padding-bottom: 40px;

      .shirt_image {
        float: left;
        overflow: hidden;
        margin-top: 20px;
        margin-left: 25px;

        img {
          height: 200px;
          border-radius: 25%;
        }
      } 
  }
}
